* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.container2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
    background-color: #fff;
}

$mainColor : #0097b2;

@mixin btn {

}