.bestDeal {
    background-color: $mainColor;
    padding: 20px 0;
}
.bestDeal__box {
}
.bestDeal__title {
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 0;
    font-size: clamp(24px,5vw,36px);
    letter-spacing: .32px;
    line-height: 1.5;
    .bestDeal__amin{
        display: inline-block;
        position: relative;
        font-size: 50px;
        margin-left: 10px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../img/anim.gif');
            background-size: cover;
            width: 150px;
            height: 90px;
            left: -10px;
            top: -10px;
        }
        span{
            font-size: 20px;
        }
    }
}