.forms {
    padding: 25px 0;
}
.forms__wrapper {
}
.forms__box {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.05);
    padding: 30px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px
}
.forms__title {
    @include h2Title;
    font-size: clamp(24px,5vw,30px);
}
.forms__button {
    background-color: $mainColor;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 13px 15px 13px 40px;
    border-radius: 5px;
    transition: .3s;
    &:hover {
        color: #fff;
        background-color: #048298;
    }
}

.forms__w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.forms__wTitle {
    @include h2Title;
    font-size: clamp(24px,5vw,30px);
}
.forms__imgWrap {
    text-align: center;
}
.professional__wLink {
    max-width: 100%;
    max-height: 100%;
}
.forms__img {
    width: 70%;
}